@import "_mixins/_mixins.scss";
@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input[type='number'] {
	-moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

:after,
:before,
* {
	box-sizing: border-box;
}

body {
	font-size: 12px;
	min-width: 320px;
	position: relative;
	// line-height: 1.65;
	margin: 0;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	background-color: #F5F6FA;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}

	&.mobile-nav-active {
		overflow: hidden;

		.header__mobile-burger {
			.burger-container {
				span {
					&:first-child,
					&:last-child {
						opacity: 0;
					}

					&:nth-child(2) {
						transform: rotate(45deg);
					}

					&:nth-child(3) {
						transform: rotate(-45deg);
					}

					@media screen and (max-width: 640px) {
						background-color: #404F77;
					}
				}
			}
		}
		
		.user-nav__mobile-trigger {
			opacity: 1;
			transform: none;
		}
	}

	&.mobile-user-nav-active {
		overflow: hidden;

		.user-nav__mobile-trigger {
			background-color: #fff;

			& > div span {
				background-color: #404F77;
			}
		}
	}
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;

	@media screen and (max-width: 1200px) {
		max-width: 960px;
	}

	@media screen and (max-width: 991px) {
		max-width: 728px;
	}

	@media screen and (max-width: 640px) {
		max-width: 590px;
	}
}

a {
	text-decoration: none;

	&:hover{
		text-decoration: none;
	}
}


// styles

.background-plate {
	position: absolute;
	z-index: -1;
	top: -23px;
	left: 50%;
	transform: translateX(-50%);
	margin-left: -5px;

	@media screen and (max-width: 640px) {
		display: none;
	}
}

// header

.header {
	margin-bottom: 25px;

	.container {
		display: flex;
		justify-content: space-between;
	}

	&__mobile-burger {
		display: none;
	}

	&__logo {
		& > a {
			display: block;
			line-height: 0;
			transition: opacity .1s;

			transform: translateY(10px);

			&:hover {
				opacity: 0.8;
			}
		}
	}

	&__panel {
		display: flex;
		justify-content: flex-end;
		padding-top: 51px;

		nav {
			display: flex;
			margin-right: 30px;

			.nav__item {
				margin-right: 30px;

				&:last-child {
					margin-right: 0;
				}

				&--has-sub {

					& > a {
						position: relative;
						padding-right: 12px;
						box-sizing: border-box;

						&:after {
							content: '';
							display: block;
							border: 4px solid #F5F6FA;
							border-left-color: transparent;
							border-right-color: transparent;
							border-bottom: 0;
							width: 8px;
							position: absolute;
							right: 0;
							top: 7px;
						}

					}	

				}

				& > a {
					color: #F5F6FA;
					font-weight: 600;
					letter-spacing: .5px;
					transition: color .1s;

					&:hover {
						color: #ffffff;
						text-decoration: underline;
					}

				}

			}

		}

		.header {

			&__auth {
				margin-right: 28px;

				& > a {
					color: #F5F6FA;
					font-weight: 600;
					letter-spacing: .5px;
					transition: color .1s;

					&:hover {
						color: #ffffff;
						text-decoration: underline;
					}

				}

			}

			&__lang {

				.lang {
					&__current {

						& > a {
							display: flex;
							align-items: center;
							position: relative;
							padding-right: 12px;
							letter-spacing: .5px;

							&:after {
								content: '';
								display: block;
								border: 4px solid #F5F6FA;
								border-left-color: transparent;
								border-right-color: transparent;
								border-bottom: 0;
								width: 8px;
								position: absolute;
								right: 0;
								top: 7px;
							}

							&:hover span {
								color: #ffffff;
								text-decoration: underline;
							}

							span {
								color: #f5f6fa;
								font-weight: 600;
								margin-right: 8px;
								transition: color .1s;
							}

						}

					}

				}

			}

		}
	}

	@media screen and (max-width: 1200px) {
		
		&__panel {
			flex-wrap: wrap;
			padding-top: 34px;

			nav {
				margin-top: 16px;
				order: 3;
				width: 100%;
				justify-content: flex-end;
				margin-right: 0;
			}

			.header {
				&__auth {
					order: 1;
				}

				&__lang {
					order: 2;
				}
			}
		}

	}

	@media screen and (max-width: 991px) {

		.container {
			position: relative;
		}

		&__logo {
			position: absolute;
			left: 15px;
			top: -24px;
		}

		&__panel {
			nav {
				margin-top: 20px;
				justify-content: flex-start;
			}
		}

	}

	@media screen and (max-width: 768px) {

		&__panel {
			display: none;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			position: fixed;
			right: 0;
			top: 0px; //92px;
			height: 100%; //calc(100% - 92px);
			background-color: #404F77;
			z-index: 10;
			width: 320px;
			padding-left: 42px;
			padding-top: 62px;
			padding-right: 20px;
			box-shadow: -10px 0 10px rgba(0,0,0,.15);
			

			nav {
				order: 1;
				margin-top: 0;
				flex-direction: column;
				margin-bottom: 34px;

				.nav {
					&__item {
						margin-bottom: 35px;

						&:last-child {
							margin-bottom: 0;
						}

						a {
							font-size: 20px;
							font-weight: 400;
							text-transform: uppercase;

							&:after {
								top: 12px;
								right: -5px;
							}

							&:hover {
								text-decoration: none;
							}
						}
					}
				}
			}

			.header {

				&__auth {
					display: none;
				}

				&__lang {
					order: 2;

					.lang__current {
						display: flex;
						span {
							font-size: 20px;
						}

						a {
							&:hover {
								span {
									text-decoration: none;
								}
							}
							&:after {
								top: 13px;
							}
						}
					}
				}
			}
		}

		&__mobile-burger {
			display: block;
			width: 30px;
			height: 24px;
			margin-top: 30px;
			cursor: pointer;
			opacity: 0.8;
			transition: opacity .2s;
			z-index: 11;

			&:hover {
				opacity: 1;
			}

			.burger-container {
				height: 24px;
				width: 30px;
				position: relative;

				& > span {
					display: block;
					width: 30px;
					height: 4px;
					background-color: #fff;
					border-radius: 4px;
					position: absolute;
					left: 0;
					top: 0;
					transition: all .2s;
					transform-origin: 50% 50%;

					&:nth-child(2),
					&:nth-child(3)  {
						top: 10px
					}

					&:nth-child(4) {
						top: 20px
					}

				}

			}

		}

		&__logo {
			position: relative;
			left: auto;
			top: auto;

			& > a {
				transform: translateY(-5px);
			}
		}

	}

	@media screen and (max-width: 640px) {
		margin-bottom: 40px;
		background: linear-gradient(140deg, #8DB1FB, #5C80F9);
		box-shadow: 0 10px 25px rgba(0,0,0,.35);

		.container {
			height: 92px;
		}

		&__panel {
			top: 92px;
			height: calc(100% - 92px);
		}
		
	}

	@media screen and (max-height: 640px) {
		&__panel {
			padding-top: 20px;
			padding-left: 30px;
			width: 300px;

			nav {
				margin-bottom: 16px;

				.nav {
					&__item {
						margin-bottom: 22px;

						& > a {
							font-size: 16px;

							&:after {
								top: 8px;
							}
						}
					}
				}
			}

			.header { 

				&__lang {

					.lang {
						&__current {
							span {
								font-size: 16px;
							}

							a:after {
								top: 8px;
							}
						}
					}

				}

			}
		}
	}

	@media screen and (max-width: 440px) {
		.container {
			height: 60px;
		}

		&__logo {
			a {
				transform: translateY(-19px);
			}
		}

		&__panel {
			top: 60px;
			height: calc(100% - 60px);
		}

		&__mobile-burger {
			margin-top: 17px;
		}
		
	}

}

// end header


// user-balance

.user-balance {
	margin-bottom: 27px;

	.container {
		display: flex;
		justify-content: flex-end;
	}

	&-container {
		width: calc(83.33333% - 15px);
		
		background-color: rgba(119, 154, 223, .52);//#779ADF;
		border-radius: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 60px;
		padding-left: 47px;
		padding-right: 48px;
	}

	&__text {
		color: #ffffff;
		font-size: 23px;
		font-weight: 400;

		& > span {
			font-weight: 700;
		}

	}

	&__wallet {
		border-radius: 15px;
		background-color: rgba(53,71,145,.12); //#354791;
		display: flex;
		align-items: center;
		padding-left: 27px;
		padding-right: 25px;
		min-height: 30px;
		transition: background-color .2s;

		&:hover {
			background-color: rgba(53,71,145,.32);
		}

		& > span {
			display: block;
			line-height: 1;
			color: #ffffff;
			font-weight: 600;
			margin-left: 13px;
			letter-spacing: .7px;
			transform: translateY(1px);
		}

		svg {
			transform: translateY(-2px);
		}

	}

	@media screen and (max-width: 1200px) {
		margin-bottom: 18px;

		&-container {
			min-height: 50px;
			padding-right: 20px;
			padding-left: 20px;
		}

		&__text {
			font-size: 20px;

			& > span {
				font-weight: 600;
			}

		}

	}

	@media screen and (max-width: 991px) {
		&-container {
			width: 100%;
		}

		&__text {
			font-size: 18px;
		}
	}

	@media screen and (max-width: 640px) {
		display: none;
	}

}

// end user-balance


// dashboard

// layout

.dashboard {

	.layout {

		&__two-col {
			display: flex;
		}

		&__left-col {
			width: 16.66667%; //33.33333%;
			padding-right: 15px;
			padding-top: 42px;
		}

		&__right-col {
			width: 83.33333%; //66.66667%;
			padding-left: 15px;
		}

	}

	@media screen and (max-width: 991px) {

		.layout {
			&__right-col {
				padding-left: 0;
			}
		}

	}

	@media screen and (max-width: 768px) {
		.layout {
			&__right-col {
				width: 100%;
			}
			&__left-col {
				padding-right: 0;
				width: 0;
			}
		}
	}

}

// end layout


// user block

.user {
	
	&__block {
		margin-bottom: 152px;

		&-photo {
			height: 92px;
			width: 92px;
			margin-bottom: 25px;
		}

		&-no-photo {
			display: block;
			width: 100%;
			height: 100%;
			background-color: #fff;
			border-radius: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
		}

		&-name {
			font-size: 23px;
			color: #F5F6FA;
			font-family: $secondary-font;
			display: block;
		}

		@media screen and (max-width: 1200px) {
			margin-bottom: 122px;
		}

		@media screen and (max-width: 991px) {

			&-photo {
				margin-bottom: 16px;
			}

			&-name {
				font-size: 19px;
				min-height: 44px;
			}

		}

	}

}

.js-close-user-nav {
	display: none;
}

@media screen and (max-width: 768px) {

	.user-aside-container {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 12;
		background: #5C80F9;
		background: linear-gradient(-65deg, #5C80F9, #8DB1FB);
		
		padding-top: 54px;
		// display: flex;
		// flex-direction: column;
		// align-items: center;

		.js-close-user-nav {
			display: block;
			position: absolute;
			top: 40px;
			right: 32px;
			width: 20px;
			height: 20px;
			cursor: pointer;
			transition: opacity .2s;

			&:hover {
				opacity: 0.8;
			}

			&:after,
			&:before {
				display: block;
				content: '';
				width: 22px;
				height: 2px;
				border-radius: 2px;
				background-color: #fff;
				position: absolute;
				left: -1px;
				top: 50%;
				margin-top: -1px;
				transform-origin: 50% 50%;
				transform: rotate(45deg);
			}

			&:after {
				transform: rotate(-45deg);
			}
		}

		.user__block {
			margin-bottom: 103px;
			display: flex;
			align-items: center;
			flex-direction: column;

			&-photo {
				margin: 0 auto;
				margin-bottom: 30px;
			}

			&-name {
				font-size: 23px;
			}
		}

		.user__nav {
			text-align: center;
			&-item {
				margin-bottom: 13px;

				a {
					text-transform: uppercase;
					font-size: 20px;

					&:hover {
						text-decoration: none;
					}

					&:before {
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 640px) {
	.user-aside-container {
		padding-top: 32px;
		top: 92px;
		height: calc(100% - 92px);

		

		.js-close-user-nav {
			top: 20px;
			right: 20px;
		}

		.user__block {
			margin-bottom: 20px;
		}
	}
}

@media screen and (max-width: 440px) {
	.user-aside-container {
		padding-top: 16px;
		top: 60px;
		height: calc(100% - 60px);

		.user__block {
			margin-bottom: 10px;
		}
	}
}

// end user block


// user nav

.user {

	&__nav {
		&-item {
			margin-bottom: 27px;

			&:last-child {
				margin-bottom: 0;
			}

			& > a {
				color: #222330;
				line-height: 1.4;
				display: block;
				position: relative;

				&:hover {
					text-decoration: underline;

					&:before {
						opacity: 1;
					}

				}

				&.is-active {
					font-family: $secondary-font;
					font-weight: 700;
					pointer-events: none;

					&:before {
						opacity: 1;
					}
				}

				&:before {
					display: block;
					content: '';
					width: 5px;
					height: 5px;
					position: absolute;
					left: -13px;
					top: 5px;
					border-radius: 100%;
					background-color: red;
					background: linear-gradient(to right, #59D158, #99EB82);
					opacity: 0;
					transition: opacity .2s;
					box-shadow: 0 0 5px rgba(0,0,0,.15);
				}
				
			}

		}

	}

}

// end user nav

.dashboard {
	margin-bottom: 110px;

	&-container {
		background-color: #fff;
		border-radius: 15px;
		padding-left: 41px;
		padding-right: 41px;
		padding-top: 38px;
		padding-bottom: 37px;
		box-shadow: 0 4px 12px rgba(0,0,0,.35);

		& > h2 {
			font-size: 37px;
			font-family: $secondary-font;
			font-weight: 300;
			color: #9f9da4;
			margin-bottom: 34px;
			line-height: 1.1;
		}
	}

	&__row {

		& > h3 {
			font-weight: 700;
			color: #2E2939;
			opacity: 0.52;
			line-height: 1.1;
		}

		&--balance {
			padding-left: 5px;
			padding-right: 8px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 52.3px;
			position: relative;
		}

		&--topup {
			padding-left: 2px;
			padding-right: 3px;
			margin-bottom: 53px;

			& > h3 {
				margin-bottom: 27.6px;
			}

		}

		&--trans-history {
			padding-left: 4px;
			padding-right: 1px;

			& > h3 {
				margin-bottom: 22.4px;
			}

		}

	}

	@media screen and (max-width: 1200px) {
		margin-bottom: 68px;

		&-container {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 28px;
			padding-bottom: 28px;

			& > h2 {
				font-size: 32px;
				margin-bottom: 24px;
			}

		}

		&__row {
			&--balance,
			&--topup,
			&--trans-history {
				padding-right: 0;
				padding-left: 0;
			}

			&--balance {
				margin-bottom: 26px;
			}

			&--topup {
				margin-bottom: 43px;

				& > h3 {
					margin-bottom: 18px;
				}

			}

		}

	}

	@media screen and (max-width: 991px) {
		&__row {
			&--balance {
				flex-wrap: wrap;
			}
		}
	}

	@media screen and (max-width: 640px) {
		&-container {
			margin-right: -15px;
			margin-left: -15px;
			border-radius: 0;
			padding-top: 15px;
			padding-right: 15px;
			padding-left: 15px;
		}

		&__row {

			&--balance {
				margin-bottom: 33px;
				position: relative;
			}

			&--topup {
				margin-bottom: 194px;

				h3 {
					font-size: 20px;
					margin-bottom: 26px;
				}
			}

			&--trans-history {

				h3 {
					font-size: 20px;
					margin-bottom: 25px;
				}
			}
		}
	}

	@media screen and (max-width: 440px) {
		&-container {
			& > h2 {
				font-size: 24px;
			}
		}
	}

	
	@media screen and (max-width: 440px) {
		&__row {
			&--topup {
				margin-bottom: 154px;

				& > h3 {
					font-size: 16px;
					margin-bottom: 18px;
				}
			}

			&--trans-history {

				& > h3 {
					font-size: 16px;
					margin-bottom: 18px;
				}

			}
		}
	}
	

}

// dashboard - balance

.balance { 
	
	&__balances {
		display: flex;
		justify-content: space-between;
		max-width: 493px;
		width: 100%;
		margin-right: 15px;
	}

	&__particles {
		position: absolute;
		pointer-events: none;
		z-index: 1;
		left: -25px;
		top: -15px;

		@media screen and (max-width: 640px) {
			display: none;
		}
	}

	&__item {
		padding-top: 21px;
		position: relative;
		width: calc(33.33333% - 7px);
		height: 96px;
		border-radius: 12px;

		&--pink {
			.balance__item-bg {
				span {
					opacity: 0.08;
				}
				.balance-glow {
					bottom: -15px;
				}
			}
		}

		&--green {
			.balance__item-bg {
				span {
					opacity: 0.14;
				}
				.balance-glow {
					width: calc(100% + 13px);
					bottom: -11px;
				}
			}
		}
		
		&-bg {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 0;

			& > span {
				font-weight: 700;
				font-family: $secondary-font;
				color: #ffffff;
				opacity: 0.05;
				font-size: 54px;
				position: absolute;
				bottom: 4px;
				left: 0;
				width: 100%;
				text-align: center;
			}

			.balance {

				&-bg {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					z-index: -2;
					pointer-events: none;
				}

				&-glow {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					height: calc(100% + 10px);
					bottom: -18px;
					width: calc(100% + 26px);
					z-index: -1;
					pointer-events: none;
				}

			}

		}

	}

	&__heading {
		text-align: center;
		position: relative;
		z-index: 1;
		margin-bottom: 8.7px;

		span {
			font-weight: 600;
			color: #0D0D0D;
			letter-spacing: .5px;
		}
	}

	&__value {
		position: relative;
		z-index: 1;
		text-align: center;
		line-height: 1;

		span {
			display: block;
			font-family: $robo-font;
			font-weight: 300;
			line-height: 1.1;
			color: #ffffff;
			font-size: 23px;
		}

		.cur {
			display: none;
		}
	}


	&__graph {
		flex-grow: 1;

		#chartjsCanvas {
			// max-height: 105px;
		}

		.graph {
			&__row {
				width: 100%;
				border-top: 1px solid #DFDDE3;
				height: 34px;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				padding-bottom: 7px;

				&:last-child {
					border-bottom: 1px solid #dfdde3;
				}

				&-value {
					font-size: 8px;
					font-weight: 600;
					color: #C1BDCA;
				}
			}

		}

	}

	@media screen and (max-width: 1200px) {

		&__balances {
			min-width: 443px;
		}

		&__item {
			padding-top: 19px;

			&-bg {

				& > span {
					bottom: 8px;
				}

				.balance-glow {
					bottom: -7px;
					// height: auto;
				}

			}

			&--pink {
				.balance__item-bg .balance-glow {
					bottom: -4px;
				}
			}

			&--green {
				.balance__item-bg .balance-glow {
					bottom: -2px;
					opacity: 0.68;
				}
			}
		}

		&__graph {
			width: 260px;
			padding-top: 10px;

			.graph {

				&__row {
					height: 28px;
				}

			}

		}

	}

	@media screen and (max-width: 991px) {

		&__graph {
			width: 100%;
			margin-top: 16px;
		}

		&__balances {
			margin-right: 0;
		}

	}

	@media screen and (max-width: 640px) {

		&__balances {
			flex-wrap: wrap;
			max-width: 100%;
			width: 100%;
			min-width: 0;
		}

		&__item {
			width: 100%;
			height: 60px;
			border-radius: 10px;
			padding-top: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 15px;
			margin-bottom: 22px;

			&:nth-child(2) {
				margin-bottom: 0;
			}

			&--purple {
				background: linear-gradient(30deg, #8DB1FB, #BB9CFE);
				order: 1;
			}

			&--green {
				background: linear-gradient(30deg, #57D056, #9EED85);
				order: 2;
			}

			&--pink {
				background: linear-gradient(130deg, #F685A8 , #FC92B0, #E65D91);
				order: 3;
			}

			&-bg {
				display: none;
			}
		}

		&__heading {
			margin-bottom: 0;
			font-size: 20px;
			font-weight: 600;
			color: #0D0D0D;
		}

		&__value {
			display: flex;

			span {
				color: #0D0D0D;
				font-weight: 600;
				font-family: $default-font;
			}

			.cur {
				display: inline;
				margin-left: 5px;
			}
		}

		&__graph {
			position: absolute;
			left: 0;
			bottom: -402px;
		}
	}

	
	@media screen and (max-width: 440px) {
		&__item {
			height: 40px;
			margin-bottom: 12px;
		}

		&__heading {
			font-size: 14px;
		}

		&__value span {
			font-size: 14px;
		}

		&__graph {
			bottom: -412px;
		}
	}

}

// end dashboard - balance


// dashboard - topup

.topup {

	&-container form {
		display: flex;
	}

	&__selects {
		display: flex;
		margin-right: 20px;
	}

	&__select {

		&-container {

			&:first-child {
				margin-right: 8px;
			}

			.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
				border-width: 0 4px 4px 4px;
				border-bottom-color: #716c95;
			}

			.topup__currency-select {
				height: 100%;
				border-left: 0;
				border-radius: 0 2px 2px 0;
				border-color: #9390ae;
				outline: none;

				.select2-selection {

					&__arrow {
						width: 22px;
						height: 28px;

						b {
							border-top-color: #716C95;
							border-width: 4px 4px 0 4px;
							margin-left: -2px;
						}

					}

					&__rendered {
						padding-left: 7px;
						padding-right: 22px;

						& > span {
							display: flex;
							align-items: center;

							font-size: 13px;
							color: #2E2E3C;

							.currency-select-dropdown {
								&-img {
									display: block;
									min-width: 22px;
									line-height: 0;
									// margin-right: 1px;
								}
							}
						}

					}

				}

			}

			&--pay {
				.select2 {
					min-width: 78px;
				}
				.topup__currency-select {
				}
			}

			&--get {
				.select2 {
					min-width: 85px;
				}
				.topup__currency-container input {
					max-width: 108px;
				}
			}
		}

		&-prefix {
			display: block;
			color: #403E55;
			line-height: 1.3;
			opacity: 0.52;
			padding-left: 11px;
			margin-bottom: 13px;
		}
	}

	&__currency-container {
		display: flex;
		height: 30px;

		input {
			max-width: 122px;
			width: 100%;
			border-radius: 2px 0 0 2px;
			border: 1px solid #9390AE;
			height: 100%;
			font-size: 14px;
			color: #2E2E3C;
			font-family: $default-font;
			line-height: 26px;
			padding-left: 11px;
		}

	}

	&__actions {
		display: flex;
		align-items: center;
		padding-top: 26px;

		> a {
			display: flex;
			align-items: center;
			opacity: 0.9;
			transition: opacity .1s;

			&:hover {
				opacity: 1;
			}

			svg {
				margin-right: 7px;
			}

			span {
				color: #5746FF;
				font-weight: 600;
				letter-spacing: .7px;
			}
		}
	}

	&__buttons {
		display: flex;
		margin-right: 17px;

		.button {
			display: block;
			max-width: 136px;
			width: 136px;
			height: 30px;
			position: relative;
			text-align: center;
			line-height: 32px;

			&:hover {
				.button-background--glow {
					transform: scale(1.2) translate(-40%, -40%);
				}
				span {
					opacity: 1;
				}
			}

			&:first-child {
				margin-right: 12px;
			}

			&-background {
				// position: absolute;
				// left: 0;
				// top: 0;

				&--bg {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 0;
					pointer-events: none;
				}

				&--glow {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					z-index: 1;
					pointer-events: none;

					transform-origin: 50% 50%;
					transition: transform .2s;
				}

			}

			& > span {
				position: relative;
				z-index: 2;
				letter-spacing: .5px;
				font-weight: 700;
				color: #1B2B1A;
				opacity: .83;
				transition: opacity .1s;
			}
		}

	}

	@media screen and (max-width: 1200px) {

		&-container form {
			flex-wrap: wrap;
			// position: relative;
			// padding-bottom: 46px;
		}

		&__actions {
			padding-top: 16px;
			width: 100%;
		}

		&__buttons {
			// position: absolute;
			// left: 0;
			// bottom: 0;
		}
	}

	@media screen and (max-width: 640px) {

		&__select {
			
			&-container {
				width: calc(50% - 12px);
				
				&:first-child {
					margin-right: 0;
				}
			}

			&-prefix {
				font-size: 16px;
				margin-bottom: 10px;
			}
		}

		&__selects {
			justify-content: space-between;
			margin-right: 0;
			width: 100%;
			margin-bottom: 14px;
		}

		&__currency-container {
			height: 40px;
		}

		&__select-container  {

			&--get,
			&--pay {
				.topup__currency-container {
					input {
						max-width: 100%;
						flex-grow: 1;
					}
				}
			}

			.topup__currency-select {
				.select2-selection__arrow {
					height: 38px;
				}
				.select2-selection__rendered {
					height: 38px;

					> span {
						height: 38px;
					}
				}
			}
		}

		&__actions {
			padding-top: 0;
			flex-wrap: wrap;
			justify-content: center;

			.ref-link-copy {
				font-size: 20px;
			}
		}

		&__buttons {
			width: 100%;
			margin-right: 0;
			justify-content: center;
			margin-bottom: 14px;

			.button {
				max-width: 160px;
				width: 100%;
				height: 40px;
				line-height: 42px;
				border-radius: 20px;

				&--green {
					background: linear-gradient(45deg, #57CF56, #9AEB82)
				}
				&--purple {
					background: linear-gradient(45deg, #A7A5FD, #B79DFD)
				}

				& > span {
					font-size: 20px;
				}

				&-background {
					&--glow {
						width: 120%;
					}
					&--bg {
						display: none;
					}
				}
			}
		}

	}

	@media screen and (max-width: 440px) {
		&__selects {
			flex-wrap: wrap;
			margin-bottom: 18px;
		}

		&__select {

			&-prefix {
				font-size: 13px;
				margin-bottom: 5px;
			}

			&-container {
				width: 100%;

				&:first-child {
					margin-bottom: 12px;
				}

			}

		}

		&__buttons {
			.button {
				max-width: 144px;
				span {
					font-size: 14px;
				}
			}
		}
		
		&__actions {
			.ref-link-copy {
				font-size: 14px;
			}
		}

	}

}

.select2-container--default .topup__currency-select-dropdown {

	&.select2-dropdown {
		box-shadow: 1px 0 5px rgba(134, 134, 134, 0.35);
	}

	.select2-results__option {
		height: 30px;
		padding: 0;
		padding-left: 7px;
		padding-right: 22px;
		transition: background-color .1s;

		&--highlighted[aria-selected] {
			background-color: rgba(159,156,183, 0.12); //#9F9CB7;
		}

		&[aria-selected=true] {
			background-color: rgba(159,156,183, 0.32); //#9F9CB7;
		}

		& > span {
			display: flex;
			align-items: center;
			height: 100%;

			.currency-select-dropdown {
				&-img {
					min-width: 22px;
					display: block;
					line-height: 0;
					margin-right: 3px;
				}

				&-text {
					font-size: 13px;
					color: #2E2E3C;
				}
				

			}

		}

	}

}

// end dashboard - topup


// trans-history

.trans-history {

	&__table {
		
		&-container {
			margin-bottom: 38px;
		}

		&-head {

			.trans-history__table {

				&-row {
					margin-bottom: 13px;
				}

				&-col {

					span {
						font-family: $secondary-font;
						color: #5746FF;
						font-weight: 600;
						display: block;
						line-height: 1.2;
					}

				}

			}

		}	

		&-body {
			.trans-history__table-row {
				border-bottom: 1px solid #E3E3E3;
				padding-bottom: 14px;
				margin-bottom: 11px;

				&:last-child {
					margin-bottom: 0;
				}

			}
			
		}

		&-row {
			display: flex;
			padding-left: 11px;
			padding-right: 11px;
		}

		&-col {
			padding-right: 13px;

			&--date {
				width: 18.7%;
			}

			&--operation {
				width: 13.3%;
			}

			&--status {
				width: 12.6%;
			}

			&--transaction {
				width: 29.6%;
			}

			&--arb {
				width: 13.9%;
			}

			&--summ {
				width: 11.9%;
				padding-right: 0;
			}

			& > span {
				color: #565657;
				display: block;
				line-height: 1.4;

				&.operation--buy {
					color: #5746FF;
				}

				&.status {
					position: relative;

					&:before {
						display: block;
						content: '';
						width: 5px;
						height: 5px;
						box-shadow: 0 0 5px rgba(0,0,0,.2);
						background-color: red;
						position: absolute;
						left: -11px;
						top: 5px;
						border-radius: 100%;
					}

					&--complete:before {
						background: linear-gradient(to right, #59D158, #99EB82);
					}

					&--waiting:before {
						background: linear-gradient(to right, #90B0FB, #B99DFE);
					}

					&--reject:before {
						background: linear-gradient(to right, #F990AF, #E86294);
					}
				}

			}

		}

	}

	&__bot-deck {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__pagination {
		
		.pagination {

			&-container {
				display: flex;
				align-items: center;
			}

			&__arrow {
				height: 10px;
				width: 10px;
				display: block;
				line-height: 0;

				&:hover {
					svg {
						fill: red!important;
						opacity: 1;
					}
				}

				&--next {
					
					svg {
						transform-origin: 50% 50%;
						transform: rotate(180deg);
					}
				}

				svg {
					opacity: 0.6;
					transition: fill .2s;
				}
			}

			&__list {
				margin: 0 12px;
				padding: 0;
				list-style: none;
				display: flex;
				align-items: center;

				&-item {
					margin-right: 24px;

					&:last-child {
						margin-right: 0;
					}

					a {
						font-weight: 600;
						color: #C1BDCA;
						padding: 0 1px;
						display: block;
						line-height: 24px;
						transition: color .2s;

						&:hover {
							color: #1b2b1a;
						}
					}
					
					&--current {
						pointer-events: none;
						margin-right: 14px;
						width: 39px;
						background: linear-gradient(135deg, #8DB1FB, #BB9CFE);
						text-align: center;
						border-radius: 3px;

						a {
							font-weight: 700;
							color: #ffffff;
						}

					}

				}
			}

		}

	}

	&__refresh-btn {
		display: flex;
		align-items: center;
		line-height: 0;
		cursor: pointer;

		&:hover {
			span {
				color: #1b2b1a;
			}
			svg {
				fill: #1b2b1a;
			}
		}

		svg {
			margin-right: 6px;
			transform: translateY(-1px);
			fill: rgb(146,143,152);
			transition: fill .2s;
		}

		span {
			color: #A6A4AB;
			font-family: $secondary-font;
			display: block;
			line-height: 1;
			font-weight: 600;
			transition: color .2s;
		}

		
	}

	@media screen and (max-width: 1200px) {
		
		&__table {
			&-col {
				&--date {
					width: 20.7%;
				}
				&--operation {
					width: 11.3%;
				}
				&--transaction {
					width: 33.6%;
				}
				&--arb {
					width: 9.9%;
				}
			}
		}

	}

	@media screen and (max-width: 991px) {
		
		&__table {
			min-width: 720px;

			&-scroll-container {

				.mCSB_horizontal.mCSB_inside>.mCSB_container {
					// margin-bottom: 68px;
				}

				.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
					background-color: #A0A8FC;
				}

				.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
					background-color: #BFBFBF;
					height: 5px;
					margin: 6px 0;
				}

			}

			&-scroll-container::-webkit-scrollbar-thumb {
				background-color: red;
			}
		}

	}

	@media screen and (max-width: 640px) {
		&__table {
			min-width: 1350px;

			&-col {
				& > span {
					&.status {
						&:before {
							width: 8px;
							height: 8px;
							top: 13px
						}
					}
				}
			}

			&-head {
				.trans-history__table {
					&-col {
						span {
							font-size: 20px;
						}
					}
				}
			}
			&-body {
				.trans-history__table {
					&-col {
						span {
							font-size: 24px;
						}
					}
				}
			}
		}

		&__bot-deck {
			
		}

		&__pagination {
			.pagination {
				&__arrow {
					svg {
						width: 9px;
					}
				}
				&__list {
					&-item {
						a {
							font-size: 20px;
						}
					}
				}
			}
		}

		&__refresh-btn {
			span {
				font-size: 20px;
			}
		}
	}

	@media screen and (max-width: 440px) {
		&__table {
			min-width: 940px;

			&-col {
				span {
					&.status {
						&:before{
							top: 8px;
							width: 5px;
							height: 5px;
						}
					}
				}
			}

			&-head,
			&-body {
				.trans-history__table {
					&-col {
						span {
							font-size: 14px;
						}
					}
				}
			}
		}

		&__bot-deck {
			flex-wrap: wrap;
			justify-content: center;
		}

		&__pagination {
			width: 100%;

			.pagination {
				&-container {
					justify-content: center;
					margin-bottom: 18px;
				}

				&__list {
					&-item {
						a {
							font-size: 13px;
						}
					}
				}
			}
		}

		&__refresh-btn {
			span {
				font-size: 14px;
			}
		}
	}

}

// end trans-history


// end dashboard


// footer

.footer {
	border-top: 1px solid rgba(136, 129, 153, .35);
	padding-top: 33px;
	padding-bottom: 32px;

	&__nav {
		display: flex;
		justify-content: center;

		&-item {
			margin-right: 26px;

			&:last-child {
				margin-right: 0;
			}
			
			& > a {
				font-family: $oxy-font;
				font-size: 14px;
				color: #555160;
				line-height: 1.2;

				&:hover {
					text-decoration: underline;
				}
			}
		}

	}

	@media screen and (max-width: 991px) {
		padding-bottom: 60px;
		
		&__nav {
			flex-wrap: wrap;

			&-item {
				margin: 0 12px 12px;
			}
		}
		
	}

	@media screen and (max-width: 640px) {
		
		padding-top: 22px;

		&__nav {
			&-item {
				// margin: 0 20px 28px;
				a {
					font-size: 16px;
				}
			}
		}
		
	}

}

// end footer


// chat bubble

.chat__trigger-container {
	position: fixed;
	right: 122px;
	bottom: 60px;
	z-index: 12;

	& > a {
		display: block;
		line-height: 0;
		cursor: pointer;
		transition: opacity .2s;
		background-color: #fff;
		border-radius: 100%;
		box-shadow: 0 3px 5px rgba(0,0,0,0.15);

		&:hover {
			opacity: 0.8;
		}
	}

	@media screen and (max-width: 1200px) {
		right: 30px;
	}

	@media screen and (max-width: 991px) {
		right: 20px;
		bottom: 10px;
	}
}

.user-nav__mobile-trigger {
	position: fixed;
	z-index: 12;
	bottom: 85px;
	right: 20px;
	width: 57px;
	height: 57px;
	background-color: #8AAEFB;
	border-radius: 100%;
	box-shadow: 0 3px 5px rgba(0,0,0,.3);
	cursor: pointer;
	pointer-events: none;

	transform: translateY(60px);
	opacity: 0;
	transition: background-color .2s, transform .2s, opacity .2s;

	@media screen and (max-width: 768px) {
		opacity: 1;
		transform: none;
		pointer-events: auto;
	}

	&:hover {
		background-color: #fff;

		& > div span {
			background-color: #404F77;
		}
	}

	
	& > div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;

		span {
			display: block;
			width: 6px;
			height: 6px;
			border-radius: 100%;
			background-color: #fff;
			transition: background-color .2s;

			&:nth-child(2) {
				margin: 3px 0;
			}
		}
	}
}

// end chat bubble

// import all pages styles
@import "pages/**/*.scss";


@import "media";
