.home-footer {
	position: relative;
}

.home-footer__top {
	margin-bottom: 20px;
	padding-top: 30px;
	border-top: 1px solid #685F75;
}

.home-footer__top-title {
	display: inline-block;
	font-size: 37px;
	text-align: center;
	margin-bottom: 15px;
	color: #685F75;
	font-family: 'Rubik';
	letter-spacing: 1.2px;
	font-weight: bold;
	position: relative;
	padding: 0 90px;
}

.home-footer__top-desc {
	font-size: 12px;
	color: rgba(#404F77, 0.61);
	text-align: center;
	margin-bottom: 45px;
	line-height: 22px;

	a {
		color: #49A1FD;
		font-weight: bold;
		@include linksHover();
	}
}

.home-footer__top-socials-list {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: center;
}

.home-footer__top-socials-item {
	margin-right: 30px;

	&:last-child {
		margin-right: 0;
	}
}

.home-footer__top-socials-link {
	display: flex;
	align-items: center;
	@include linksHover();
}

.home-footer__bot {
	border-top: 1px solid #D5DAE8;
	padding: 21px 0 21px 0;
	background: #685F75;
}

.home-footer__bot-nav-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	justify-content: center;
}

.home-footer__bot-nav-item {
	margin-right: 30px;

	&:last-child {
		margin-right: 0;
	}
}

.home-footer__bot-nav-link {
	font-size: 12px;
	font-family: $oxy-font;
	color: #F5F6FA;
	font-weight: bold;
	letter-spacing: 1px;
	@include linksHover();
}

.white-body-bg {
	height: auto;
	min-width: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	z-index: -1;
	pointer-events: none;
}