.home-potential {
	position: relative;
	margin-bottom: 60px;
	overflow: hidden;
	padding-top: 180px;
	padding-bottom: 180px;
	// background: url('../img/home-page/svg-home/potential-bg.svg') no-repeat;
	background: url('../img/home-page/svg-home/potential-bg.png') no-repeat;
	background-size: 100% 100%, auto;
	background-position: center;
}

.home-potential__bg {
	pointer-events: none;
	min-width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.home-potential__title {
	margin-bottom: 20px;
	color: #F5F6FA;
	font-family: 'Rubik';
}

.home-potential__table {
	border-collapse: collapse;
	width: 100%;

	td {
		font-size: 14px;
		line-height: 22px;
		vertical-align: top;
		padding: 30px 15px;

		&:nth-child(1) {
			width: 170px;
		}

		&:nth-child(2) {
			width: 245px;
		}

		&:nth-child(3) {
			width: 230px;
		}

		&:nth-child(4) {
			width: 245px;
		}

		&:nth-child(5) {
			width: 260px;
		}
	}

	tr {
		background: #EEF0FD;

		&:nth-child(even) {
			background: #F5F6FA;
		}
	}

	b {
		font-weight: 600;
	}
}

.home-potential__table-wrap {
	margin-bottom: 220px;
}

.home-potential__cards {
	display: flex;
	align-items: center;
	position: relative;
}

.home-potential__cards-l,
.home-potential__cards-r {
	flex: 0 0 auto;
	width: 50%;
	display: flex;
	align-items: center;
}

.home-potential__cards-l-card {
	width: 100%;
	background: linear-gradient(to right bottom, #ECEEFF, #FAFBFF);
	border-radius: 18px 0 0 18px;
	padding: 50px 65px 80px 65px;
	min-height: 360px; 
	box-shadow: 0 0 30px rgba(57,57,57,0.1);
}

.home-potential__cards-l-card-title {
	margin-bottom: 38px;
	font-size: 37px;
	font-weight: bold;
	color: #5B4D6F;
	letter-spacing: 0.5px;
	font-family: 'Rubik';
	position: relative;
	padding-left: 33px;
}

.home-potential__cards-l-card-title-top {
	z-index: 1;
}

.home-potential__cards-l-card-title-bot {
	font-weight: 400;
	color: #7E7C85;
	font-family: $default-font;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 4px;
	top: 5px;
}

.home-potential__cards-l-list,
.home-potential__cards-r-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.home-potential__cards-l-item,
.home-potential__cards-r-item {
	padding-left: 36px;
	position: relative;
	font-size: 14px;
	line-height: 22px;
	color: #888199;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}

	&:before {
		position: absolute;
		display: block;
		content: "";
		width: 12.826px;
		height: 14.824px;
		background: url('../img/home-page/svg-home/list-coub-blue.svg') no-repeat;
		background-size: contain;
		left: 0;
		top: 4px;
	}
}

.home-potential__cards-r-card {
	width: 100%;
	min-height: 426px;
	border-radius: 20px;
	box-shadow: 0 3px 15px rgba(57,57,57,0.35);
	padding: 83px 50px 90px 70px;
	background: linear-gradient(to right bottom, #7B67FD, #47A8FF);
}

.home-potential__cards-r-card-title {
	margin-bottom: 38px;
	font-size: 37px;
	font-weight: bold;
	color: #F5F6FA;
	letter-spacing: 0.5px;
	font-family: 'Rubik';
	position: relative;
	padding-left: 35px;
}

.home-potential__cards-r-card-title-top {
	z-index: 1;
}

.home-potential__cards-r-card-title-bot {
	font-weight: 400;
	color: #fff;
	font-family: $default-font;
	position: absolute;
	width: 100%;
	height: 100%;
	left: -4px;
	top: 5px;
}

.home-potential__cards-r-item {
	color: #F5F6FA;

	&:before {
		width: 12.826px;
		height: 14.824px;
		background: url('../img/home-page/svg-home/list-coub-gray.svg') no-repeat;
		background-size: contain;
	}
}

.home-potential__cards-m {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	z-index: 1;
	background: #fff;
	box-shadow: 3px 3px 0 rgba(64, 79, 119, .20);
	font-size: 23px;
	font-family: 'Rubik';
	color: #5B4D6F;
	text-align: center;
	line-height: 70px;
	position: absolute;
	transform: translate(-50%, -50%);
	font-weight: 500;
}

.home-potential__list {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0 -15px;
}

.home-potential__item {
	flex: 0 0 auto;
	width: calc(25% - 30px);
	margin: 0 15px;
}

.home-potential__item-img-container {
	position: relative;
	height: 105px;
	margin-bottom: 30px;
}

.home-potential__item-img {
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

.home-potential__item-title {
	text-align: center;
	color: #EBECF0;
	font-size: 24px;
	font-family: 'Rubik';
	margin-bottom: 22px;
	font-weight: 500;
}

.home-potential__item-desc {
	font-size: 14px;
	color: rgba(#EBECF0, 0.89);
	min-height: 74px;
	margin-bottom: 25px;
	text-align: left;
	letter-spacing: 0.4px;
	line-height: 24px;
}

.home-potential__item-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.home-potential__item-item {
	position: relative;
	margin-bottom: 12px;
	color: #F5F6FA;
	font-size: 14px;
	font-weight: 600;

	&:last-child {
		margin-bottom: 0;
	}

	&:before {
		position: absolute;
		display: block;
		top: -2px;
		content: "-";
		font-size: 14px;
		left: -11px;
	}
}

.home-potential-cards {
	margin-bottom: 145px;
}