.home-team {
	position: relative;
	padding-top: 95px;
	padding-bottom: 180px;
	background: url('../img/home-page/svg-home/our-team-block-bg.svg') no-repeat;
	background-size: 100% 100%, auto;
	background-position: center;
	margin-bottom: 160px;
}

.home-team__title {
	margin-bottom: 80px;
}

.home-team__list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	padding-left: 23px;
}

.home-team__item {
	flex: 0 0 auto;
}

.home-team__item-img-container {
	overflow: visible;
	left: -24px;
	width: 208px;
	height: 177px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin: 0 auto 15px;

	&.home-team__item-img-container_bg-1 {
		background-image: url('../img/home-page/svg-home/team-bg-1.svg');
	}

	&.home-team__item-img-container_bg-2 {
		background-image: url('../img/home-page/svg-home/team-bg-2.svg');
	}

	&.home-team__item-img-container_bg-3 {
		background-image: url('../img/home-page/svg-home/team-bg-3.svg');
	}
}

.home-team__item-prof {
	text-align: center;
    font-size: 23px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.2px;
	color: rgba(#5B4D6F, 0.63);
	margin-bottom: 5px;
}

.home-team__item-name {
	font-size: 23px;
	letter-spacing: 1px;
	color: #5B4D6F;
	text-align: center;
}

.home-team__item-img {
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 24px;
	margin-top: -3px;
}