.home-provision {
	margin-bottom: 90px;
}

.home-provision__title {
	margin-bottom: 70px;
}

.home-provision__list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin-right: -60px;
}

.home-provision__item {
	flex: 0 0 auto;
	width: calc(33.33333333333% - 60px);
	margin-right: 60px;
}

.home-provision__item-img-container {
	position: relative;
	height: 145px;
	margin-bottom: 20px;

	svg {
		max-width: 100%;
		max-height: 100%;
		margin: 0 auto;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
	}
}

.home-provision__item-title {
	font-size: 14px;
	font-weight: bold;
	color: rgba(#110D19, 0.52);
	margin-bottom: 19px;
}

.home-provision__item-desc {
	font-size: 14px;
	line-height: 22px;
	color: #888199;
}
