.home-roadmap {
	// padding-bottom: 40px;
}

.home-roadmap-owl {
	padding-top: 100px;
}

.home-roadmap__owl-item {
	min-height: 1305px;
	position: relative;
	margin-bottom: -105px;

	&:before {
		position: absolute;
		display: block;
		content: "";
		width: 1599.239px;
		height: 1088.932px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: url('../img/home-page/svg-home/road-snake.svg') no-repeat;
		z-index: -1;
	}

	&:after {
		display: block;
		content: "";
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 63px;
		height: 67.079px;
		bottom: 260px;
		background: url('../img/home-page/svg-home/swipe.svg') no-repeat;
	}
}

.home-roadmap__steps-c {
	position: relative;
}

.home-roadmap__step {
	position: absolute;
	width: 325px;
	background: #F7F7F7;
	box-shadow: 0 0 40px rgba(0,0,0,.3);
	padding: 30px 30px 20px 30px;
	min-height: 176px;
	border-radius: 5px;
	background: url('../img/home-page/svg-home/card-bg.svg') no-repeat;
	background-size: cover;

	&.home-roadmap__step_ended {
		.home-roadmap__step-completed {
			display: block;
		}

		&:after {
			width: 33.597px;
			height: 79.02px;
			background: url('../img/home-page/svg-home/roadmap-green-block.svg') no-repeat;
		}

		&.home-roadmap__step-1 {
			&:before {
				height: 577px;
			}

			&:after {
				margin-top: 570px;
			}
		}

		&.home-roadmap__step-2 {
			&:before {
				height: 667px;
			}

			&:after {
				margin-top: 660px;
			}
		}

		&.home-roadmap__step-3 {
			&:before {
				height: 432px;
			}

			&:after {
				margin-top: 425px;
			}
		}

		&.home-roadmap__step-4 {
			&:before {
				height: 432px;
			}

			&:after {
				margin-top: 425px;
			}
		}
	}

	&:before,
	&:after {
		position: absolute;
		display: block;
		content: "";
	}

	&:before {
		width: 4px;
		background: #5A98FA;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
		border-radius: 2px;
	}

	&:after {
		width: 33.58px;
		height: 39px;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background: url('../img/home-page/svg-home/roadmap-def-block.svg') no-repeat;
		z-index: -2;
	}

	&.home-roadmap__step-1 {
		top: 385px;

		&:before {
			height: 595px;
		}

		&:after {
			margin-top: 585px;
		}
	}

	&.home-roadmap__step-2 {
		top: 0;
		left: 280px;

		&:before {
			height: 685px;
		}

		&:after {
			margin-top: 675px;
		}
	}

	&.home-roadmap__step-3 {
		top: 385px;
		left: 680px;

		&:before {
			height: 450px;
		}

		&:after {
			margin-top: 440px;
		}
	}

	&.home-roadmap__step-4 {
		top: 0;
		left: 870px;

		&:before {
			height: 450px;
		}

		&:after {
			margin-top: 440px;
		}
	}
}

.home-roadmap__step-title {
	font-family: "Rubik";
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #F5F6FA;
}

.home-roadmap__step-desc {
	font-size: 14px;
	line-height: 24px;
	color: #F5F6FA;
}

.home-roadmap__step-completed {
	display: none;
	position: absolute;
	right: -22px;
	top: 12px;
	box-shadow: 0 0 15px rgba(#000000, 0.25);
	height: 32px;
	line-height: 32px;
	border-radius: 4px;
	padding: 0 13px;
	letter-spacing: 0.8px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: #F5F6FA;
	background: #39D394;
}

.home-roadmap__scene {
	height: 1550px;
	margin-top: 50px;
	position: relative;
	overflow: hidden;
	padding-top: 40px;
}

.home-roadmap__scene-snake {
	position: absolute;
	top: -910px;
	margin-left: 785px;
	left: 50%;
	transform: translateX(-50%);
	pointer-events: none;
	z-index: -2;
}

.home-roadmap__scene-in-items-2 {
	margin-left: 1060px;
	margin-top: -980px;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;

	.home-roadmap__step-1 {
		top: 385px;

		&:before {
			height: 595px;
		}

		&:after {
			margin-top: 585px;
		}
	}

	.home-roadmap__step-2 {
		top: 0;
		left: 280px;

		&:before {
			height: 700px;
		}

		&:after {
			margin-top: 690px;
		}
	}

	.home-roadmap__step-3 {
		top: 385px;
		left: 660px;

		&:before {
			height: 450px;
		}

		&:after {
			margin-top: 440px;
		}
	}

	.home-roadmap__step-4 {
		top: 0;
		left: 870px;

		&:before {
			height: 440px;
		}

		&:after {
			margin-top: 430px;
		}
	}

	.home-roadmap__step_ended {
		.home-roadmap__step-2 {
			&:before {
				height: 677px;
			}

			&:after {
				margin-top: 670px;
			}
		}

		.home-roadmap__step-4 {
			&:before {
				height: 422px;
			}

			&:after {
				margin-top: 415px;
			}
		}
	}
}

.home-roadmap__scene-in {
	transition: 1.5s ease-out;
	position: relative;
}


.home-roadmap.home-roadmap-v2 {
	.home-roadmap__scene {
		height: auto;
	}

	.home-roadmap__step {
		&:after {
			width: 33.58px;
			height: 38.316px;
			background: url('../img/home-page/svg-home/road-block-blue.svg') no-repeat;
			z-index: -2;
		}

		&.home-roadmap__step_ended {
			&:after {
				width: 33.58px;
				height: 38.316px;
				background: url('../img/home-page/svg-home/road-block-green.svg') no-repeat;
			}
		}
	}

	.home-roadmap__scene-snake {
		top: 265px;
		margin-left: -985px;
		transform: none;
		width: auto;
	}

	.home-roadmap__step-completed {
		z-index: 1;
	}

	.home-roadmap__scene-in-items-1,
	.home-roadmap__scene-in-items-2,
	.home-roadmap__scene-in-items-3 {
		height: 760px;
		position: relative;
		margin-top: 0;
		margin-left: 0;
		left: auto;
		transform: none;
		width: 1170px;
		max-width: 1170px;

		.home-roadmap__step {
			&.home-roadmap__step-1 {
				top: 150px;
				left: 0;
			}

			&.home-roadmap__step-2 {
				top: 50px;
				left: 420px;
			}

			&.home-roadmap__step-3 {
				top: 150px;
				right: 0;
				left: auto;
			}
		}
	}

	.home-roadmap__scene-in-items-1 {
		.home-roadmap__step,
		.home-roadmap__step.home-roadmap__step_ended {
			&.home-roadmap__step-1 {
				&:before {
					height: 415px;
				}

				&:after {
					margin-top: 405px;
				}
			}

			&.home-roadmap__step-2 {
				&:before {
					height: 420px;
				}

				&:after {
					margin-top: 410px;
				}
			}

			&.home-roadmap__step-3 {
				&:before {
					height: 425px;
				}

				&:after {
					margin-top: 415px;
				}
			}
		}
	}

	.home-roadmap__scene-in-items-2 {
		.home-roadmap__step,
		.home-roadmap__step.home-roadmap__step_ended {
			&.home-roadmap__step-1 {
				top: 50px;

				&:before {
					height: 420px;
				}

				&:after {
					margin-top: 410px;
				}
			}

			&.home-roadmap__step-2 {
				top: 150px;

				&:before {
					height: 433px;
				}

				&:after {
					margin-top: 423px;
				}
			}

			&.home-roadmap__step-3 {
				top: 50px;

				&:before {
					height: 425px;
				}

				&:after {
					margin-top: 415px;
				}
			}
		}
	}

	.home-roadmap__scene-in-items-3 {
		.home-roadmap__step,
		.home-roadmap__step.home-roadmap__step_ended {
			&.home-roadmap__step-1 {
				&:before {
					height: 400px;
				}

				&:after {
					margin-top: 390px;
				}
			}

			&.home-roadmap__step-2 {
				&:before {
					height: 425px;
				}

				&:after {
					margin-top: 415px;
				}
			}

			&.home-roadmap__step-3 {
				&:before {
					height: 427px;
				}

				&:after {
					margin-top: 417px;
				}
			}
		}
	}

	.home-roadmap__scene-in {
		height: 100%;
		margin-bottom: 250px;

		.owl-stage-outer {
			overflow: visible;
		}

		.owl-dots {
			text-align: center;
			display: flex;
			justify-content: center;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: -100px;

			.owl-dot {
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background: #D0D8F2;
				margin-right: 14px;

				&.active {
					background: #5F91FA;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}