.home-risk {
    margin-bottom: 110px;
}

.home-risk__title {
	margin-bottom: 40px;
}

.home-risk__list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin-right: -140px;

	.home-provision__item-img-container {
		margin-bottom: 65px;
	}
}

.home-risk__item {
	flex: 0 0 auto;
	width: calc(50% - 140px);
	margin-right: 140px;
}