.home-main {
	position: relative;
	z-index: 1;
	margin-bottom: 125px;
}

.home-main-c {
	display: flex;
	padding-top: 80px;
	position: relative;
}

.home-main-l {
	flex: 0 0 auto;
	// width: 570px;
	width: 48.75%;
	margin-right: 35px;
}

.home-main-r {
	flex: 1;
	padding-top: 10px;
}

.home-main__top-tag {
	background: #434F75;
	display: inline-block;
	border-radius: 3px 3px 3px 0;
	padding: 4px 6px 5px 7px;
	color: #F5F6FA;
	font-size: 8px;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 16.5px;
	transition: .3s;

	&:hover {
		background: #303957;
	}
}

.home-main__desc {
	font-size: 37px;
	letter-spacing: .8px;
	color: #E8EDFA;
	margin-bottom: 55px;
	line-height: 42px;
	font-weight: 300;
}

.home-main-video-wrap {
	position: relative;
	padding-top: calc(56.25% - 4px);
	box-shadow: 0 0 30px 0 rgba(#AAAAAA, 0.3);
	border: 4px solid #fff;
	background: #fff;

	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	video {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.home-main__btns {
	display: flex;
	align-items: center;
}

.home-main__btn-green {
	margin-right: 35px;
	display: block;
	max-width: 133px;
	width: 133px;
	height: 35px;
	position: relative;
	text-align: center;
	line-height: 35px;
	border-radius: 18px;
	background: linear-gradient(to left bottom, #2DB39A, #40E691);

	> span {
		position: relative;
		z-index: 2;
		letter-spacing: .5px;
		font-weight: 700;
		color: #fff;
		opacity: .83;
		transition: opacity .1s;
		font-size: 12px;
	}

	.button-background {
		.button-background--glow {
			z-index: -1;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			pointer-events: none;

			transform-origin: 50% 50%;
			transition: transform .2s;
		}
	}

	&:hover {
		.button-background--glow {
			transform: translate(-50%, -50%) scale(1.4);
		}

		span {
			opacity: 1;
		}
	}
}

.home-main__socials-list {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.home-main__socials-item {
	margin-right: 30px;

	&:last-child {
		margin-right: 0;
	}
}

.home-main__socials-link {
	display: flex;
	align-items: center;
	@include linksHover();
}