.home-problems {
	position: relative;
	z-index: 1;
	margin-bottom: 140px;
}

.home-problems__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-left: 33%;
	list-style: none;
	margin-right: -75px;
}

.home-problems__item {
	// width: 345px;
	width: 40.168%;
	flex: 0 0 auto;
	margin-right: 75px;
	margin-bottom: 25px;
}

.home-problems__item-title {
	display: inline-block;
	border-radius: 3px 3px 3px 0;
	padding: 0px 11px 0px 11px;
	color: rgba(#110D19, 0.52);
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 48px;
	line-height: 22px;

	&.home-problems__item-title_red {
		background: #F382AB;
	}

	&.home-problems__item-title_green {
		background: #93E77D;
	}

}

.home-problems__item-desc {
	font-size: 14px;
	color: #888199;
	line-height: 22px;

	p {
		margin: 0 0 20px 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}