.home-header__top {
	padding: 15px 0;
	background: #E9EEFA;
	box-shadow: 0 6px 5px rgba(126,162,250, 0.5);
	position: relative;
	z-index: 2;
}

.home-header__top-c {
	display: flex;
}

.home-header__top-l {
	margin-right: auto;
}

.home-header__top-m {
	margin-right: 145px;
}

.home-header__top-r {
	display: flex;
	align-items: center;
}

.home-header__top-l-title {
	font-size: 10px;
	color: #BCC3D6;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding-left: 4px;
}

.home-header__top-l-round-titles {
	display: flex;
	justify-content: space-between;
	margin-bottom: 7px;
	padding: 0 4px;
}

.home-header__top-l-round-title {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 300;
	color: #2B2A42;
}

.home-header__top-l-round-bar-c {
	height: 23px;
	position: relative;
	border: 3px solid rgba(#9D80C6, 0.25);
	border-radius: 12px;
	background: #E4DFFF;
	width: 405px;
}

.home-header__top-l-round-bar {
	text-align: center;
	height: 100%;
	background: linear-gradient(to right bottom, #B79DFD, #A7A5FD);
	text-transform: uppercase;
	color: #E4DFFF;
	overflow: hidden;
	font-size: 10px;
	white-space: nowrap;
	line-height: 17px;
	border-radius: 8px;
	transition: max-width 1s ease-out;
	max-width: 0;
}

.home-header__top-m-timer {
	display: flex;
}

.home-header__top-m-timer-item {
	min-width: 75px;
	text-align: center;
	position: relative;

	&:before {
		content: ":";
		position: absolute;
		display: block;
		right: -3px;
		bottom: 0;
		color: #929BB5;
		font-size: 24px;
		font-weight: 600;
	}

	&:last-child {
		&:before {
			display: none;
		}
	}
}

.home-header__top-m-timer-title {
	font-size: 10px;
	font-weight: 600;
	margin-bottom: 24px;
	text-transform: uppercase;
	color: #bcc3d6;
}

.home-header__top-m-timer-n {
	font-size: 24px;
	font-weight: 600;
	color: #929BB5;
}

.home-header__top-r-btn {
	display: block;
	max-width: 133px;
	width: 133px;
	height: 34px;
	position: relative;
	text-align: center;
	line-height: 34px;
	border-radius: 17px;
	background: linear-gradient(to right bottom, #A7A5FD, #B79DFD);

	> span {
		position: relative;
		z-index: 2;
		letter-spacing: .5px;
		font-weight: 700;
		color: #1B2B1A;
		opacity: .83;
		transition: opacity .1s;
		font-size: 12px;
	}

	.button-background {
		.button-background--bg {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			pointer-events: none;
		} 

		.button-background--glow {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			pointer-events: none;

			transform-origin: 50% 50%;
			transition: transform .2s;
		}
	}

	&:hover {
		.button-background--glow {
			transform: translate(-50%, -50%) scale(1.2);
		}

		span {
			opacity: 1;
		}
	}
}

.home-header__mid {
	position: relative;
	transition: all .3s;

	&.home-header__mid_laterfixed {
		position: fixed;
		top: -13px;
		left: 0;
		right: 0;
		background: linear-gradient(to right bottom, #5C6FE5, #4A8EEF);
		padding-bottom: 15px;
		transform: translateY(-100%);
		z-index: 11;

		&:after {
			display: none;
		}

		&.fixed-header {
			transform: translateY(0);
		}
	}

	&:after {
		content: "";
		position: absolute;
		display: block;
		// background: url('../img/home-page/svg-home/bg-top-right.svg') no-repeat;
		background: url('../img/home-page/svg-home/bg-top-right.png') no-repeat;
		top: 0;
		right: 0;
		width: 476.50189px;
		background-size: cover;
		height: 1057.275px;
	}

	> .container {
		z-index: 2;
		position: relative;
	}
}

.home-header__mid-img-bgtri {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: auto;
	min-width: calc(100% + 5px);
	pointer-events: none;
}

.home-header__mid-c {
	display: flex;
}

.home-header__mid-l {
	margin-right: auto;
	display: flex;
	padding-top: 10px;
	align-items: flex-start;
}

.home-header__mid-r {
	display: flex;
	padding-top: 50px;
	align-items: flex-start;
}

.home-header__mid-working {
	margin-top: 30px;
	opacity: 0.6;
}

.home-header__mid-logo-text {
	font-size: 0;
	text-indent: -99999px;
	color: transparent;
}

.home-header__mid-logo {
	display: block;
	margin-right: 28px;

	@include linksHover();
}

.home-header__mid-nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	margin-right: 25px;
	align-items: flex-start;
}

.home-header__mid-nav-item {
	margin-right: 25px;
	position: relative;

	&:last-child {
		margin-right: 0;
	}
}

.home-header__mid-lang {
	position: relative;
}

.home-header__mid-nav-link,
.home-header__mid-login,
.home-header__mid-lang-current {
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1.2px;

	&:hover {
		text-decoration: underline;
	}

	&.home-header__mid-nav-link_carret {
		padding-right: 12px;
		position: relative;

		&:before {
			content: '';
			display: block;
			border: 4px solid #fff;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom: 0;
			width: 8px;
			position: absolute;
			right: 0;
			top: 6px;
			transition: all .3s;
		}
	}
}

.home-header__mid-login {
	margin-right: 25px;
}

.home-header__mid-lang-current {
	display: flex;
	align-items: center;
	position: relative;
	padding-right: 12px;
	letter-spacing: .5px;
	position: relative;

	&:after {
		content: '';
		display: block;
		border: 4px solid #f5f6fa;
		border-left-color: transparent;
		border-right-color: transparent;
		border-bottom: 0;
		width: 8px;
		position: absolute;
		right: 0;
		top: 6px;
		transition: all .3s;
	}
}

.home-header__mid-lang-current-text {
	margin-right: 8px;
}

.home-header__mid-nav-item {
	&.home-header__mid-nav-item_dropdown {
		&:hover {
			&:before {
				position: absolute;
				display: block;
				content: "";
				width: 100%;
				height: 20px;
				top: 100%;
				margin-top: -1px;
			}

			.home-header__mid-nav-link.home-header__mid-nav-link_carret {
				&:before {
					transform: rotate(175deg);
				}
			}

			.home-header__mid-nav-dropdown {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
		}
	}
}

.home-header__mid-nav-dropdown {
	display: block;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 142px;
	background: #E9EEFA;
	border-radius: 4px;
	padding: 9px 0;
	box-shadow: 0 0 5px rgba(#000000, 0.15);
	margin-top: 5px;
	transition: all .3s;
}

.home-header__mid-nav-dropdown-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.home-header__mid-nav-dropdown-link {
	display: block;
	padding: 3.4px 15px 4.7px 24px;
	font-size: 12px;
	color: #434F75;
	letter-spacing: 0.5px;
	transition: all .3s;

	&:hover {
		background: rgba(#83A7FA, 0.18);
	}
}


.home-header__mid-lang-dropdown {
	display: block;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	position: absolute;
	top: 100%;
	right: 0;
	min-width: 125px;
	background: #E9EEFA;
	border-radius: 4px;
	padding: 9px 0;
	box-shadow: 0 0 5px rgba(#000000, 0.15);
	margin-top: 5px;
	transition: all .3s;
}

.home-header__mid-lang-dropdown-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.home-header__mid-lang-dropdown-link {
	display: flex;
	align-items: center;
	padding: 3.4px 10px 4.7px 20px;
	font-size: 12px;
	color: #434F75;
	letter-spacing: 0.5px;
	transition: all .3s;

	&:hover {
		background: rgba(#83A7FA, 0.18);
	}
}

.home-header__mid-lang-dropdown-img-container {
	position: relative;
	margin-right: 16px;
	width: 20px;
	height: 12px;
	margin-top: 1px;
}

.home-header__mid-lang-dropdown-img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: absolute;
	box-shadow: 0 3px 5px rgba(#404F77, 0.15);
}

.home-header__mid-lang {
	&:hover {
		&:before {
			position: absolute;
			display: block;
			content: "";
			width: 100%;
			height: 20px;
			top: 100%;
			margin-top: -1px;
		}

		.home-header__mid-lang-current {
			&:after {
				transform: rotate(175deg);
			}
		}

		.home-header__mid-lang-dropdown {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
	}
}