.home-orders {
	margin-bottom: 50px;   
	position: relative;
	z-index: 1;
}

.home-section-title {
	font-size: 37px;
	color: #5E85F0;
	text-align: center;
	margin-bottom: 60px;
	position: relative;
	font-family: Rubik;
	font-weight: 600;
	color: #685F75;
	letter-spacing: 1.2px;
	
	.home-section-title_main-shadow {
		z-index: 1;
	}

	.home-section-title_shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		left: -4px;
		top: 10px;
		text-shadow: -6px 3px 6px #5b4d6f;
		color: transparent;
		font-weight: 300;
		letter-spacing: 0.5px;
	}
}

.home-orders__title-wrap {
	display: block;
	text-align: center;
}

.home-orders__title {
	margin-bottom: 120px;
	color: #685F75;
	font-family: Rubik;
	font-weight: 600;
	position: relative;
	padding: 0 90px;
	display: inline-block;
}

.home-orders__table-container {
	position: relative;
	width: 969px;
	height: 572px;
	margin: 0 auto;
	background: #fff;
	padding: 15px 13px;
	margin-bottom: 130px;
}

.home-orders__table-img {
	position: absolute;
	top: -309px;
	left: -284px;
	display: block;
	z-index: -1;
	width: 1537.1px;
	height: auto;
	pointer-events: none;
}

.home-orders__table-top {
	display: flex;
	position: relative;
}

.home-orders__table-top-bg {
	display: flex;
	padding: 1px 30px 6px 7px;
	align-items: flex-end;
}

.home-orders__table-top-bg-item {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 3px;

	&:last-child {
		margin-right: 0;                  
	}

	&.home-orders__table-top-bg-item_yellow {
		background: linear-gradient(to right bottom, #FFBD2E, #EA901A);
	}

	&.home-orders__table-top-bg-item_green {
		background: linear-gradient(to right bottom, #29DA78, #9EED85);
	}

	&.home-orders__table-top-bg-item_red {
		background: linear-gradient(to right bottom, #E65D91, #FC92B0);
	}
}

.home-orders__table-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.home-orders__table-nav-item {
	margin-right: 15px;

	&:last-child {
		margin-right: 0;
	}

	&.active {
		.home-orders__table-nav-link {
			color: #80A4FA;
			border-color: #E8E7F4;
		}
	}
}

.home-orders__table-nav-link {
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: #A09EAA;
	padding: 6px 15px 5px 15px;
	background: #fff;
	margin-bottom: -1px;
	border-radius: 3px 3px 0 0;
	border: 1px solid #E8E7F4;
	transition: all .3s;

	&:hover {
		color: #80A4FA;
		border-color: #E8E7F4;
	}
}

.home-orders__table-tab {
	display: none;

	&.active {
		display: block;
	}
}

.home-orders__tab-table {
	border-collapse: collapse;
	width: 100%;
	text-align: left;

	thead {
		background: linear-gradient(to right bottom, #4991F0, #5B70E5);

		th {
			font-size: 12px;
			font-weight: bold;
			color: #fff;
			padding: 14px 10px 10px 10px;

			&:first-child {
				padding-left: 60px;
			}

			&:nth-child(2) {
				padding-left: 39px;
			}
		}
	}

	tbody {
		font-size: 12px;
		color: #888199;

		tr {
			border-top: 4px solid #fff;
			background: #EEF0FD;

			&:nth-child(even) {
				background: #F5F6FA;
			}
		}

		td {
			position: relative;
			padding: 5px 10px;
			overflow: hidden;

			&:first-child {
				padding-left: 30px;
			}
		}
	}

	.home-orders__tab-table_color-green {
		color: #178255;
	}
	
	.home-orders__tab-table_color-red {
		color: #EC6B99;
	}

	.home-orders__tab-table_color-gray {
		color: #BCB6CA;
	}

	.home-orders__tab-table_f14-reg {
		font-size: 14px;
		margin-left: 28px;
	}

	.home-orders__tab-table_f14-semi {
		font-size: 14px;
		font-weight: 600;
		margin-left: 28px;
		line-height: 20px;
	}

}

.home-orders__tab-table-img-wrap {
	position: absolute;
	height: 18px;
	width: 18px;
	margin-right: 10px;
}

.home-orders__tab-table-img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: absolute;
}

.home-orders__tables {
	position: relative;
}

.home-orders__table-t {
	display: none;
	height: 450px;
	overflow: auto;

	&.active {
		display: block;
	}
}

.home-orders__table-bot {
	padding-top: 23px;
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}

.home-orders__table-bot-nav-wrap {
	flex: 1;
}

.home-orders__table-add-btn {
	margin-left: auto;
	display: block;
	position: relative;
	height: 30px;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #799DFA;
	padding-right: 13px;
	white-space: nowrap;
	flex: 0 0 auto;
	overflow: hidden;
	line-height: 29px;
	padding-left: 30px;
	font-size: 12px;
	color: #799DFA;
	font-weight: 600;
	transition: all .3s;

	&:before,
	&:after {
		position: absolute;
		content: "";
		display: block;
		top: 50%;
		left: 17px;
		transform: translate(-50%, -50%);
		height: 1px;
		background: #799DFA;
		width: 13px;
		transition: all .3s;
	}

	&:after {
		transform: translate(-50%, -50%) rotate(90deg);
	}

	&:hover {
		background: #799DFA;
		color: #fff;

		&:before,
		&:after {
			background: #fff;
		}
	}
}

.home-orders__table-bot-nav {
	display: flex;
	list-style: none;
	padding: 0;
	align-items: center;
	margin: 0;

	&.home-orders__table-bot-nav_items-padding {
		.home-orders__table-bot-nav-link {
			padding: 6px 13px;
		}
	}
}

.home-orders__table-bot-nav-item {
	margin-right: 20px;

	&:last-child {
		margin-right: 0;
	}

	&.active {
		.home-orders__table-bot-nav-link {
			background: #fff;
			border-color: #80A4FA;
			color: #80A4FA;
			box-shadow: 0px 4px 7px rgba(159,159,159,.75);
			font-weight: 600;
			pointer-events: none;
		}
	}
}

.home-orders__table-bot-nav-link {
	display: flex;
	border: 1px solid transparent;
	background: #F5F6FA;
	align-items: center;
	padding: 6px 18px;
	font-size: 12px;
	color: #888199;
	transition: all .3s;
	border-radius: 17px;

	&:hover {
		background: #fff;
		border-color: #80A4FA;
		color: #80A4FA;
		box-shadow: 0px 4px 7px rgba(159,159,159,.75);
	}
}

.home-orders__table-bot-nav-img-container {
	position: relative;
	height: 18px;
	width: 18px;
	margin-right: 6px;
}

.home-orders__table-bot-nav-img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: absolute;
}

.home-orders__tag {
	position: absolute;
	right: 0;
	top: 14px;
	background: #39D394;
	display: inline-block;
	border-radius: 3px 3px 3px 0;
	padding: 5px 6px 6px 7px;
	color: #fff;
	font-size: 8px;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 16.5px;
	transition: .3s;

	&:hover {
		background: #80f39e;
	}

	&.home-orders__tag_blue {
		background: #5180ea;
		position: relative;
		margin-left: auto;
		top: auto;
		margin-bottom: 0;
		align-self: flex-start;
		color: #F5F6FA;

		&:hover {
			background: #3971F4;
		}
	}
}

.home-orders__bot-info-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
}

.home-orders__bot-info-item {
	width: auto;
}

.home-orders__bot-info-item-c {
	display: flex;
	align-items: center;
}

.home-orders__bot-info-l {
	margin-right: 14px;
	flex: 0 0 auto;
	margin-top: 6px;
}

.home-orders__bot-info-title {
	font-size: 15px;
	letter-spacing: 0.2px;
	color: rgba(#5B4D6F, 0.6);
	font-weight: 600;
	margin-bottom: 3px;
}

.home-orders__bot-info-desc {
	font-size: 12px;
	color: #5B4D6F;
	letter-spacing: 1px;
}

.home-orders__bot-info-desc-item {
	display: inline-block;
	margin-right: 5px;

	&:last-child {
		margin-right: 0;
	}
}